---
layout: default
title: Coworking at Draper Startup House Chiang Mai
preview_image: /assets/images/DraperHouseInterior2-59.JPG
header_image: /assets/images/IMG_9586.png
features:
  - title: บัตรรายวัน
    subtitle: ลองดูสิ!
    content_html: >-
      <p>เพลิดเพลินไปกับการใช้พื้นที่ของเราอย่างเต็มที่ไม่ว่าคุณจะต้องการสังสรรค์ในร้านกาแฟ
      ใช้ห้องประชุมของเรา หรือนั่งชิลๆบนดาดฟ้า
      รวมถึงน้ำดื่มหรือชา/กาแฟแบบบริการตนเอง
      สถานที่ของเราเข้าถึงได้ตลอดเวลาตั้งแต่ 7.00 น.
      ถึงเมื่อใดก็ได้ที่คุณต้องการ (จำกัดเวลา re-entry หลัง 18:00 น.)</p>
    price: ฿100
  - title: Flex Pass
    subtitle: ไปมาตามอำเพื่อใจ
    content_html: >-
      <p>เข้าใช้พื้นที่ทำงานร่วมกันของเรา
      ดื่มด่ำไปกับเครื่องดื่มกาแฟเอสเปรสโซฟรี และส่วนลด 10% อย่างอื่นในร้านกาแฟ
      Flex Passes มอบความคุ้มค่าและประหยัดโดยไม่ต้องล็อกเวลา ซื้อแพ็คเกจ 5 หรือ
      10 วันใช้ภายใน 90 วันนับจากวันที่ซื้อ *สามารถใช้ในเวลากลางวันเท่านั้น</p>
    price: Starting at ฿500
  - title: สมาชิก
    subtitle: เข้าถึงได้ทุกสิ่งอย่าง
    content_html: >-
      <p>รับสิทธิประโยชน์ทั้งหมดของบัตรอื่น ๆ
      และคีย์การ์ดเพื่อเข้าถึงพื้นที่ของเราตลอด 24 ชั่วโมง ทุกวัน
      สมาชิกรายเดือนยังสามารถเข้าถึงกิจกรรมทั้งหมดของเราและส่วนลดสำหรับบริการวีซ่าและบริการทางธุรกิจต่างๆ</p>
    price: Starting at ฿2400
inclusions:
  - title: โต๊ะทำงาน
    icon_image: /assets/graphics/desk.png
  - title: WiFi เร็วทันใจ
    icon_image: /assets/graphics/wifi.png
  - title: กาแฟ/ชา
    icon_image: /assets/graphics/coffee.png
  - title: ห้องประชุม
    icon_image: /assets/graphics/concall.png
  - title: กิจกรรม/อีเวนต์
    icon_image: /assets/graphics/event.png
  - title: การให้บริการคำปรึกษา
    icon_image: /assets/graphics/mentor.png
  - title: บริการคำปรึกษาด้าน visa
    icon_image: /assets/graphics/visa.png
  - title: การช่วยหาเงินทุน
    icon_image: /assets/graphics/funding.png
gallery:
  - image: /assets/images/DSH-CM-Coworking-3.JPG
    alt_text: Insert Alt Text here
  - image: /assets/images/DSH-CM-Coworking-1.JPG
    alt_text: Insert Alt Text here
  - image: /assets/images/DraperHouseInterior2-45.JPG
    alt_text: Insert Alt Text here
---

<section class="center above-the-fold-container bg-image title-hero pad-top-m body-padding" style="background: linear-gradient(rgba(32, 66, 112,0.5), rgba(32, 66, 112,0.5)), url({{page.header_image}}); background-position: center;">
  <div class="above-the-fold-content">
    <h2 class="impact-heading text-white editable">
 	Coworking
 </h2>
    <h1 class="text-white editable">
 	Draper Startup House เชียงใหม่<br />การเป็นสมาชิกและราคา
 </h1>
    <p class="text-white editable">
 	Coworking เป็นวิธีที่ดีในการพบปะผู้คนใหม่ ๆ กระตุ้นความคิดสร้างสรรค์ของคุณและเรียนรู้จากคนรอบข้าง สมาชิกที่ Draper Startup House ได้รับมากกว่าแค่ wifi และโต๊ะทำงาน เรายังให้คำปรึกษา แนะนำเครือข่าย และกิจกรรมต่างๆที่ได้รับการดูแลโดยเฉพาะเพื่อสนับสนุนผู้ประกอบการและ startups
 </p>
  </div>
</section>
{% include blocks/features.html %}
<section class="py-4 center body-padding">
  <p class="editable">
 	คาเฟ่ของเราเปิดให้คนทั่วไปเข้ารับบริการได้เสมอ - ถึงไม่เป็นสมาชิกก็สามารถสั่งอาหารหรือเครื่องดื่มจากเมนูของเรา<br />เปิดบริการทุกๆ จันทร์ ถึง เสาร์ ตั้งแต่เวลา 07:00 น. ถึง 18:00 น.
 </p>
</section>
{% include blocks/inclusions.html %}
<section id="copy-content" class="copy-content center body-padding py-4">
  <h3 class="editable">
 	เป็นมากกว่าสถานที่ทำงาน
 </h3>
  <p class="editable">
 	เรามุ่งมั่นที่จะสร้างความสำเร็จให้กับชุมชนของเราและความสมบูรณ์ของ startupในพื้นที่ นี่คือเหตุผลที่เราให้ความสำคัญอย่างมากกับการให้คำปรึกษา กิจกรรมที่เกี่ยวข้องต่างๆ และการบริการ ด้วยการที่เรารู้จักความเป็นผู้ประกอบการและเราคุ้นเคยกับเชียงใหม่ เราจึงอยากดูแลและเชื่อมโยงคุณเข้ากับสิ่งที่คุณต้องการเพื่อให้ประสบความสำเร็จและเติบโต
 </p>
  {% include blocks/mini-gallery.html %}
  <h3 class="editable">
 	ชุมชน co-working ที่มีไดนามิกมากที่สุดในเชียงใหม่
 </h3>
  <p class="editable">
 	ทำความรู้จักกับสมาชิก ที่ปรึกษา และชุมชนDSHโดยการดูวิดีโอเพิ่มเติมบนหน้า Facebook ของเรา!
 </p>
  <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fdshchiangmai%2Fvideos%2F878411502960081%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
</section>
{% include blocks/cta.html %}
{% include blocks/contact.html %}
