---
layout: default
title: Services at Draper Startup House Chiang Mai
preview_image: /assets/images/DSH-CM-Terrace-4.JPG
header_image: /assets/images/DSH-CM-Terrace-4.JPG
features:
  - title: Visa Support
    subtitle: 
    content_html: Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut delectus, ad et corporis dignissimos a dolorem voluptatum sequi, sapiente voluptate nesciunt. Deserunt necessitatibus, distinctio itaque voluptate ab nam non suscipit.
    price: 
    add_button: true
    button_url: /
  - title: Company Registration
    subtitle:
    content_html: Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet ad assumenda saepe ipsum natus consectetur. Corrupti sed fuga voluptatem, qui, sit autem neque excepturi minus accusamus quo sapiente quisquam. Vel id harum iure ea maxime quisquam iusto itaque fugiat dolor.
    price:
    add_button: true
    button_url: /
  - title: Business Consulting
    subtitle:
    content_html: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum fugit cum adipisci esse dolorum consequuntur iste, iusto distinctio veniam rem consectetur ipsa ab hic odit nemo, cumque consequatur unde. Tempora eum eaque vero assumenda impedit nihil natus repudiandae voluptatem? Architecto voluptatum atque eveniet accusamus quod commodi obcaecati libero modi amet?
    price:
    add_button: true
    button_url: /
specialties:
  - title: Visa Matching
    content_html: >-
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius, doloremque odit a iste molestiae aperiam minus accusantium est sed quia, illum veritatis ab voluptas, blanditiis suscipit cum dignissimos ipsum. Recusandae et quibusdam nisi, voluptates esse repellendus eligendi. Unde, vel corporis consequatur quo nostrum, aliquam debitis dolores assumenda, quas inventore doloremque?
      </p>
    price: TBH 3000
    add_button: true
    button_url: 'mailto:contact@dshchiangmai.com'
  - title: SMART Visa Package
    content_html: >-
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius, doloremque odit a iste molestiae aperiam minus accusantium est sed quia, illum veritatis ab voluptas, blanditiis suscipit cum dignissimos ipsum. Recusandae et quibusdam nisi, voluptates esse repellendus eligendi. Unde, vel corporis consequatur quo nostrum, aliquam debitis dolores assumenda, quas inventore doloremque?
      </p>
    price: TBH 20,000
    add_button: true
    button_url: 'mailto:contact@dshchiangmai.com'
  - title: Company Registration + Business Visa + Work Permit Package
    content_html: >-
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius, doloremque odit a iste molestiae aperiam minus accusantium est sed quia, illum veritatis ab voluptas, blanditiis suscipit cum dignissimos ipsum. Recusandae et quibusdam nisi, voluptates esse repellendus eligendi. Unde, vel corporis consequatur quo nostrum, aliquam debitis dolores assumenda, quas inventore doloremque?
      </p>
    price: Starting at TBH 50,000
    add_button: true
    button_url: 'mailto:contact@dshchiangmai.com'
  - title: CAMT Tech Exchange - Volunteer Visa Package
    content_html: >-
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius, doloremque odit a iste molestiae aperiam minus accusantium est sed quia, illum veritatis ab voluptas, blanditiis suscipit cum dignissimos ipsum. Recusandae et quibusdam nisi, voluptates esse repellendus eligendi. Unde, vel corporis consequatur quo nostrum, aliquam debitis dolores assumenda, quas inventore doloremque?
      </p>
    price: Starting at TBH 50,000
    add_button: true
    button_url: 'mailto:contact@dshchiangmai.com'
---
<section class="center above-the-fold-container bg-image title-hero pad-top-m" style="background: linear-gradient(rgba(32, 66, 112,0.5), rgba(32, 66, 112,0.5)), url({{page.header_image}}); background-position: center;">
  <div class="above-the-fold-content">
    <h2 class="impact-heading text-white editable">Startup Services</h2>
    <h1 class="text-white editable">Consulting, visa & legal services to help launch your business</h1>
    <p class="text-white editable">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus veritatis qui provident quaerat aliquam perferendis alias! Dolore placeat impedit delectus corrupti quibusdam esse porro sequi consectetur ex, rem doloribus culpa alias ad eaque repellendus minima eum et nam aliquam illum!</p>
  </div>
</section>
{% include blocks/features.html %}
<section id="copy-content" class="copy-content center padding-lg">
  <p class="editable">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor impedit eos ab eligendi nulla qui nobis ad doloremque, cupiditate, adipisci quod deserunt accusamus. Vero corrupti minima ut praesentium quaerat aperiam deleniti? Voluptatibus, assumenda. Sequi voluptas consectetur sunt sit explicabo, ipsam totam, reprehenderit, aperiam neque quaerat quidem alias soluta ea temporibus! Quos exercitationem eos accusamus modi culpa alias quam fugit explicabo placeat. Fugit deserunt labore eveniet ipsam perspiciatis reiciendis odit officiis in, dolores totam dolorem id ullam aperiam, quas, nesciunt cum quibusdam excepturi eligendi. Maiores recusandae, est culpa, quam excepturi aliquam tempora corporis omnis illo aut facere accusantium consequuntur repellendus? Possimus?
  </p>
  <h3 class="editable">
    Members and guests get a 1-hour initial consultations free!
  </h3>
</section>
{% include blocks/mini-gallery.html %}
<section id="cta" class="cta center padding-lg">
  <h2 class="accent-heading editable">
    Join Us And Become A Member
  </h2>
  <p class="editable">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque magni, vitae debitis, temporibus corrupti deserunt necessitatibus facilis hic, repellat sit sapiente vero voluptatibus praesentium et veniam esse natus dolorem eveniet voluptate blanditiis libero. Cumque sit saepe mollitia quaerat odit molestias nesciunt! Deleniti laboriosam sit quasi natus laborum doloribus. Libero, repellat!
  </p>
  <a href="/pricing" class="btn mx-1 editable">
    See Memberships & Pricing
  </a>
  <a href="/hostel" class="btn mx-1 editable">
    Check Room & Rates
  </a>
</section>
{% include blocks/specialties.html %}
<section id="copy-content" class="copy-content center padding-lg">
  <h3 class="editable">
    Here to assist in all areas of launching your business.
  </h3>
  <p class="editable">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor impedit eos ab eligendi nulla qui nobis ad doloremque, cupiditate, adipisci quod deserunt accusamus. Vero corrupti minima ut praesentium quaerat aperiam deleniti? Voluptatibus, assumenda. Sequi voluptas consectetur sunt sit explicabo, ipsam totam, reprehenderit, aperiam neque quaerat quidem alias soluta ea temporibus! Quos exercitationem eos accusamus modi culpa alias quam fugit explicabo placeat. Fugit deserunt labore eveniet ipsam perspiciatis reiciendis odit officiis in, dolores totam dolorem id ullam aperiam, quas, nesciunt cum quibusdam excepturi eligendi. Maiores recusandae, est culpa, quam excepturi aliquam tempora corporis omnis illo aut facere accusantium consequuntur repellendus? Possimus?
  </p>
  <h3 class="editable">
    Members and guests get a 1-hour initial consultations free!
  </h3>
</section>
<section id="cta" class="cta center padding-lg">
  <h2 class="accent-heading editable">
    Join Us And Become A Member
  </h2>
  <p class="editable">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque magni, vitae debitis, temporibus corrupti deserunt necessitatibus facilis hic, repellat sit sapiente vero voluptatibus praesentium et veniam esse natus dolorem eveniet voluptate blanditiis libero. Cumque sit saepe mollitia quaerat odit molestias nesciunt! Deleniti laboriosam sit quasi natus laborum doloribus. Libero, repellat!
  </p>
  <a href="/pricing" class="btn mx-1 editable">
    See Memberships & Pricing
  </a>
  <a href="/hostel" class="btn mx-1 editable">
    Check Room & Rates
  </a>
</section>
{% include blocks/contact.html %}