---
layout: default
title: Services at Draper Startup House Chiang Mai
preview_image: /assets/images/DSH-CM-Terrace-4.JPG
header_image: /assets/images/DSH-CM-Terrace-4.JPG
features:
  - title: Go Inter'
    subtitle:
    content_html: >-
      <p>สำหรับธุรกิจ startup ในประเทศไทยที่อยากจะ go inter' เราสามารถช่วยชี้ทาง
      และแนะแนวคุณให้สานฝันได้ไกลยิ่งกว่าเดิม</p><p>&nbsp;</p>
    price:
    add_button: true
    button_content: Contact Us
    button_url: /
  - title: การลงทะเบียนธุรกิจ
    subtitle:
    content_html: >-
      <p>หากคุณกำลังเริ่มต้นบริษัทหรือธุรกิจ
      เราสามารถช่วยเหลือคุณเพราะเราร่วมมือกับทนายความและนักบัญชีที่เชื่อถือได้เพื่อช่วยคุณจดทะเบียนบริษัทในประเทศไทย
      ทีมของเราให้คำปรึกษาในราคาประหยัดเพื่อช่วยคุณในขั้นเริ่มต้น
      เรายังคงสามารถทำงานอย่างใกล้ชิดกับคุณตั้งแต่ต้นจนจบ
      รวมถึงการจัดการเอกสารจำนวนมาก</p>
    price:
    add_button: true
    button_content: Register your Company
    button_url: /
  - title: ที่ปรึกษาทางธุรกิจ
    subtitle:
    content_html: >-
      <p>ตั้งแต่กลยุทธ์การตลาดออนไลน์ การวางแผนธุรกิจ
      ไปจนถึงการออกแบบโครงธุรกิจของคุณและอีกมากมาย
      เราสามารถให้คำแนะนำและสนับสนุนธุรกิจของคุณ
      ด้วยประสบการณ์ที่หลากหลายของพวกเราในด้านธุรกิจ startup และเทคโนโลยี
      คุณสามารถพึ่งพาทีมของเราเพื่อช่วยยกระดับโปรเจ็กต์ของคุณไปขั้นที่เหนือกว่า
      และหากเราไม่สามารถช่วยเหลือคุณได้
      คุณยังสามารถเข้าถึงเครือข่ายผู้ที่มีความสามารถกว้างขวางของเราในเชียงใหม่และอีกในหลายๆที่</p><p>&nbsp;</p>
    price:
    add_button: true
    button_content: Get a quote
    button_url: /
specialties:
  - title: Visa Matching
    content_html: |-
      <p>
        Looking for the right visa options to live & work in Thailand? We're experts in long-term visa
        solutions suitable for freelancers, remote workers, entrepreneurs and investors in Thailand.
        During this one hour call, online or in-person, we'll run you through everything you need to know
        and give you advice tailored to your desired residency and tax situation. Ask us any questions
        you have about registering a company, getting a SMART Visa or working through a Professional
        Employment Organizations (PEOs).
        <br /><br />If you choose to hire us for further services, we'll count
        this fee towards your deposit.<br />This visa consultation is FREE for our guests and coworking members!
      </p>
    price: ฿3000
    add_button: true
    button_url: 'mailto:lily@draperstartuphouse.com'
  - title: SMART S Visa Assistance
    content_html: >-
      <p>Need help putting together and submitting your application for the
      6-Month SMART S Visa? The SMART S Visa is perfect for startup
      entrepreneurs looking to set up a presence in Thailand while launching
      their company or exploring the market. We'll walk you through the
      requirements, process, and work with you to get your business plan and
      presentation up to the BOI's exacting requirements.<br /><br />In the
      event that your application is rejected, we'll work with you to get it
      accepted or your money back. Please note the price quoted for this package
      <i>includes</i> the fee paid to process your visa (in-country).</p>
    price: '฿20,000'
    add_button: true
    button_url: 'mailto:lily@draperstartuphouse.com'
  - title: แพ็คเกจจดทะเบียนบริษัท
    content_html: >-
      <p>มาจดทะเบียนบริษัทประเทศไทยจำกัดในเชียงใหม่&nbsp;
      เราสามารถช่วยคุณในการยื่นจดทะเบียน บริษัท การขอวีซ่าธุรกิจชนิด Non-B
      และใบอนุญาตทำงาน อีกทั้งช่วยคุณในการเปิดบัญชีธนาคารของบริษัท
      สำหรับบริษัทใหม่ของคุณ
      ทุกด้านที่จะทำให้กระบวนการแต่ละอย่างชัดเจนและง่ายมากขี้น
      รวมทั้งลดความยุ่งยากและปวดหัวกับระบบเอกสารต่างๆ
      มาให้เราช่วยคุณเริ่มต้นธุรกิจได้อย่างถูกต้อง</p>
    price: 'Starting at ฿50,000'
    add_button: true
    button_url: 'mailto:lily@draperstartuphouse.com'
  - title: แพ็คเกจวีซ่าสำหรับอาสาสมัคร
    content_html: >-
      <p>สำหรับผู้เชี่ยวชาญที่มีคุณสมบัติสูงและมีประสบการณ์ในการจัดหาเงินทุนเริ่มต้นการสร้างกิจการ
      growth hacking หรือทีมวิศวกรรมซอฟต์แวร์ชั้นนำ
      เราช่วยจับคู่คุณกับตำแหน่งอาสาสมัคร​​ ณ
      มหาวิทยาลัยเชียงใหม่</p><p>เพื่อแลกเปลี่ยนกับการทำงานที่มหาวิทยาลัยอาสาสมัครจะได้รับ
      SMART T Visa
      พร้อมกับความช่วยเหลือในการย้ายที่อยู่สำนักงานส่วนตัวและการสนับสนุนด้านการบริหารอื่นๆ
      จากทางมหาวิทยาลัย <!-- <br /><br />Please note that all fees collected go
      towards visa
        fees and administrating this program. This collaboration with the university is a
        social enterprise joint venture. --></p>
    price: '฿15,000'
    add_button: true
    button_url: 'mailto:lily@draperstartuphouse.com'
---

<section class="center above-the-fold-container bg-image title-hero pad-top-m body-padding" style="background: linear-gradient(rgba(32, 66, 112,0.5), rgba(32, 66, 112,0.5)), url({{page.header_image}}); background-position: center;">
  <div class="above-the-fold-content">
    <h2 class="editable impact-heading text-white editable">
 	บริการสำหรับ Startup
 </h2>
    <h1 class="text-white editable">
 	บริการให้คำปรึกษา การให้คำแนะนำเพื่อขยายธุรกิจไปต่างประเทศ และคำปรึกษาด้านกฎหมายเพื่อช่วยในการเปิดตัวธุรกิจของคุณ
 </h1>
    <p class="text-white editable">
 	It takes more than just an idea and hard work to build a business. Whatever your business needs, you can count on Draper Startup House and our trusted partner networks to help. From strategy and business plans to visas and company registration, we're experienced in all the heavy-lifting it takes to get a new venture off the ground.
 </p>
  </div>
</section>
{% include blocks/features.html %}
<section id="copy-content" class="copy-content center body-padding py-4">
  <p class="editable">
 	เราเข้าใจถึงความท้าทายที่ผู้ประกอบการและนักธุรกิจระดับนานาชาติต้องเผชิญเพื่อสร้างสถานะในประเทศไทย ไม่ว่าคุณต้องการให้เราช่วยคุณผ่านช่องทางอีเวนต์ของเรา อยากให้เราบริการคุณในฐานะลูกค้า&nbsp; หรือแม้กระทั่งให้เราแนะนำคุณไปยัง<br />คู่ค้าที่เชื่อถือได้ของเรา ไม่ว่าคุณจะมีเป้าหมายและงบประมาณอย่างไรเราจะช่วยคุณในการหาทางออกที่<br />เหมาะสมกับธุรกิจของคุณที่สุด
 </p>
  <h3 class="editable">
 	สมาชิกและแขกรับคำปรึกษาเบื้องต้นฟรี 1 ชั่วโมง!
 </h3>
</section>
{% include blocks/specialties.html %}
<section id="copy-content" class="copy-content center body-padding py-2">
  <h3 class="editable">
 	เราพร้อมให้ความช่วยเหลือในทุกด้านการเปิดตัวธุรกิจของคุณ
 </h3>
  <p class="editable">
 	หากคุณต้องการความช่วยเหลือเกี่ยวกับสิ่งที่เราไม่ได้พูดถึง หรือหากคุณมีคำถามเกี่ยวกับการทำธุรกิจทั่วไปในประเทศไทย<br />หากคุณต้องการความช่วยเหลือในด้านอื่นๆ เกี่ยวกับการเปิดตัวธุรกิจของคุณ อย่าลังเลที่จะติดต่อหาทีมงานของเรา<br />เรามีเครือข่ายที่กว้างไกลในเชียงใหม่และอีกหลายๆที่ในประเทศไทย เราสามารถที่จะเชื่อมโยงคุณกับพันธมิตรของเรา<br />และผู้ให้บริการเพื่อช่วยให้โครงการของคุณก้าวไปข้างหน้าอย่างมั่นคง
 </p>
  <h3 class="editable">
 	สมาชิกและแขกรับคำปรึกษาเบื้องต้นฟรี 1 ชั่วโมง!
 </h3>
</section>
{% include blocks/cta-th.html %}
{% include blocks/contact.html %}
