<footer id="footer" class="footer padding-md center grid-center-spaceBetween">
  <div class="col-12">
    <h3 class="text-white">Contact Us</h3>
    <p class="text-white">
      {{site.data.settings.basics.address_html}}
    </p>
    <a href="mailto:{{site.data.settings.basics.contact_email}}" class="text-white mb-2" target="_blank">
      {{site.data.settings.basics.contact_email}}
    </a>
    <div class="grid-center">
      <div class="col-4 grid-spaceAround">
        <a href="{{site.data.settings.social.facebook_url}}" target=blank><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        <a href="{{site.data.settings.social.instagram_url}}" target=blank><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="{{site.data.settings.social.linkedin_url}}" target=blank><i class="fa fa-linkedin" aria-hidden="true"></i></i></a>
        <a href="{{site.data.settings.social.twitter_url}}" target=blank><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <!-- <div class="col-6_sm-12">
    <nav class="footer-nav">
      <a href="/apply" class="btn">Apply Now</a>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/apply#faqs">FAQ</a>
      <a href="/contact">Contact</a>
    </nav>
  </div> -->
  <span class="col-12">
    © Draper Startup House <script type="text/javascript">
    document.write(new Date().getFullYear()); </script>
  </span>
</footer>
