<div class="nav-bar">
  <div class="grid-noGutter-spaceBetween">
    <div class="col-2_sm-6-middle center">
      <a href="/" class=""><img src="/assets/graphics/dsh-white.png" alt="draper startup house thailand logo"/></a>
    </div>
    <div class="col-2_sm-6-middle center">
      <a href="/apply" class="nav-link">Menu <i class="fas fa-bars"></i></a>
      <nav style="display: none;">
        <a href="https://tribetheory.cloudbeds.com/reservation/Te57EC?referral_id=18086&association_direct=1#checkin=2020-10-06&checkout=2020-10-07"><p>Hostel</p></a>
         <a href="/coworking"><p>Coworking</p></a>
         <a href="/cafe"><p>Cafe</p></a>
         <a href="/services"><p>Services</p></a>
         <a href="https://www.eventbrite.com/o/draper-startup-house-chiang-mai-30963569317"><p>Events</p></a>
         <a href="/about"><p>About</p></a>
         <a href="/contact"><p>Contact</p></a>
      </nav>
    </div>
  </div>
</div>
