<div class="nav-bar">
  <div class="grid-noGutter-middle-spaceBetween">
    <div class="col-2_sm-6-middle left">
      <a href="/" class=""><img src="/assets/graphics/dsh-white.png" alt="draper startup house thailand logo"/ class="nav-logo-img"></a>
    </div>
    <div class="col-2_sm-6-middle right">
      <p class="text-white" style="margin: 0;">Menu <i class="fas fa-bars"></i></p>
      <nav style="display: none;">
        <a href="https://hotels.cloudbeds.com/reservation/Te57EC"><p>Hostel</p></a>
         <a href="/coworking"><p>Coworking</p></a>
         <a href="/cafe"><p>Cafe</p></a>
         <a href="/services"><p>Services</p></a>
         <a href="https://www.eventbrite.com/o/draper-startup-house-chiang-mai-30963569317"><p>Events</p></a>
         <a href="/about"><p>About</p></a>
         <a href="/contact"><p>Contact</p></a>
      </nav>
    </div>
  </div>
</div>
