<section id="cta" class="cta center body-padding py-3 mb-4">
  <h2 class="accent-heading editable">
    Join Us And Become A Member
  </h2>
  <p class="editable">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque magni, vitae debitis, temporibus corrupti deserunt necessitatibus facilis hic, repellat sit sapiente vero voluptatibus praesentium et veniam esse natus dolorem eveniet voluptate blanditiis libero. Cumque sit saepe mollitia quaerat odit molestias nesciunt! Deleniti laboriosam sit quasi natus laborum doloribus. Libero, repellat!
  </p>
  <div class="join-us-btn">
    <a href="/pricing" class="btn mx-1 editable">
      See Memberships & Pricing
    </a>
    <a href="/hostel" class="btn mx-1 editable">
      Check Room & Rates
    </a>
  </div>
</section>
